apiVersion: 1

datasources:
  - name: TimescaleDB
    type: postgres
    access: proxy
    url: localhost:${PG_PORT}
    database: ${PG_DB_NAME}
    user: ${PG_DB_USER}
    isDefault: true
    editable: false
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 5
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: true
    secureJsonData:
      password: ${PG_DB_PASSWORD}
